* {
    margin: 0;
}

#NavigationBar {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background: #0033cc;
    font-family : arial;
}

#NavigationBarLogoText {
    display: inline;
    background: transparent;
    width: auto;
    height: 8vh;
    border: none;
    overflow: none;
    outline: none;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: left;
    font-size: larger;
}

#NavigationBarHomeButton {
    display: inline;
    background: transparent;
    width: auto;
    height: 8vh;
    border: none;
    overflow: none;
    outline: none;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
    font-size: medium;
}

#NavigationBarDownloadsButton {
    display: inline;
    background: transparent;
    width: auto;
    height: 8vh;
    border: none;
    outline: none;
    overflow: none;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
    font-size: medium;
}

#NavigationBarAboutButton {
    display: inline;
    background: transparent;
    width: auto;
    height: 8vh;
    border: none;
    outline: none;
    overflow: none;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
    font-size: medium;
}

iframe {
    width: 100vw;
    height: 92vh;
    border: none;
    position: absolute;
    top: 8vh;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#HomePageFrame {
    display: block;
}

#DownloadsPageFrame {
    display: none;
}

#NavigationBarAboutFrame {
    display: none;
}
