# IDE/Text editor things
/.idea
/.vscode

# Python
*.pyc
*.pyd
*.pyz
*.pyw
/venv
/__pycache__
src/pyraklib/server/__pycache__

# Server/Podrum files
/src/test
/plugins/
/worlds/

# MacOS
.DS_Store

# Windows
[Tt]humbs.db
[Tt]humbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Just in case
*.exe

# Tests files
start.cmdb
