# IDE/Text editor things
/.idea
/.vscode

# Python
*.pyc
*.pyd
*.pyz
*.pyw
/venv
/__pycache__
src/pyraklib/server/__pycache__

# Server/Podrum files
/src/test
/plugins/
/worlds/

# Just in case
*.exe

# Tests files
server.json
.gitignore